@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: teal;
  }
  20% {
    background-color: gold;
  }
  40% {
    background-color: indianred;
  }
  60% {
    background-color: violet;
  }
  80% {
    background-color: green;
  }
  100% {
    background-color: teal;
  }
}


  .rotate {
    animation: rotation 3s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .buttonload {
    background-color: #04AA6D; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
  
.glow-on-hover {
  width: 220px;
  height: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}




.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -4px;
  left:-4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.glow-on-hover-m {
  width: 150px;
  height: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: none;
  outline: none; 
  text-transform: uppercase;
  color: rgb(18, 176, 204);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}




.glow-on-hover-m:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -4px;
  left:-4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover-m:active {
  color: #000
}

.glow-on-hover-m:active:after {
  background: transparent;
}

.glow-on-hover-m:hover:before {
  opacity: 1;
}

.glow-on-hover-m:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



.text-hover {

  box-shadow: rgb(215, 230, 247) 0px 20px 20px -12px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: rgb(2, 245, 245);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}


.icon-glow-on-hover {

  box-shadow: rgb(38, 57, 77) 0px 20px 20px -12px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  cursor: pointer;
  
  position: relative;
  z-index: 0;
  border-radius: 10px;
}





.icon-glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -4px;
  left:-4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.icon-glow-on-hover:active {
  color: #000
}

.icon-glow-on-hover:active:after {
  background: transparent;
}

.icon-glow-on-hover:hover:before {
  opacity: 1;
}

.icon-glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}




/* 
#videoBG {
    position:fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
    }
  
}
@media (max-width: 767px) {
    #videoBG { 
        object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    }
}

@media only screen and (device-width: 768px) {
    #videoBG { 
        object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    }
  }
  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    #videoBG { 
        object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    }
  }

  
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      #videoBG { 
        object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    }
  }


  @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation:portrait) {
    #videoBG { 
        object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    }
  }

  
  @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation:landscape) {
      #videoBG { 
        object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; 
    }
  } */

.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    
    filter: grayscale(0);
  }
  
  /* The Transformation */
  .img-hover-zoom--colorize:hover img {
    filter: grayscale(100%);
    transform: scale(0.8);
  }


  