{% extends "base.html" %}
{% block title %} User {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
<p>Welcome, {{ user }}</p> 
{% endwith %}
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter your email" value="{{ email if emaill }}" /> <!--If the user has already inserted their email (if it can be retrieved from the db)-->
    <input type="submit" value="submit" />
</form>
{% endblock %}