body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cards {
    background-color: #c6e3fa;
    width: 60%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
}